<tr>
   <td>
      <table class="m_107802914629328448st-Width m_107802914629328448st-Width--mobile" border="0" cellpadding="0" cellspacing="0" width="600" style="max-width:520px;border-spacing: 0;border: 1px solid #d8d8d8;border-radius: 16px;margin: 20px auto;">
         <tbody>
            <tr>
               <td style="padding:24px 10px 22px 30px">
                  <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-spacing:0;border-collapse:collapse;width:100%">
                     <tbody>
                        <tr>
                           <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:20px;font-weight:700;line-height:30px;color:#3c4043;font-family:Google Sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:24px">{campaign_name}</td>
                        </tr>
                        <tr>
                           <td>
                              <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-spacing:0;border-collapse:collapse;width:100%">
                                 <tbody>
                                    <tr align="left">
                                       <td valign="top" width="147" style="width:147px;border-right:1px solid #d8d8d8">
                                          <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-spacing:0;border-collapse:collapse;width:100%">
                                             <tbody>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:28px;font-weight:700;line-height:34px;color:#3c4043;font-family:Google Sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:0px;padding-right:5px">{conversions}</td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:16px;font-weight:700;line-height:24px;color:#cc7400;font-family:Inter,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:15px">
                                                      {conversions_change_rate}
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:14px;font-weight:400;line-height:24px;color:#3c4043;font-family:Google Sans Text,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left">
                                                      Conversions
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                       <td width="22" style="width:22px">
                                       </td>
                                       <td valign="top" width="144" style="width:144px;border-right:1px solid #d8d8d8">
                                          <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-spacing:0;border-collapse:collapse;width:100%">
                                             <tbody>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:28px;font-weight:700;line-height:34px;color:#3c4043;font-family:Google Sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:0px;padding-right:5px">{cost_micros}</td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:16px;font-weight:700;line-height:24px;color:#cc7400;font-family:Inter,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:15px">
                                                      {cost_micros_change_rate}
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:14px;font-weight:400;line-height:24px;color:#3c4043;font-family:Google Sans Text,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left">
                                                      Cost
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                       <td width="22" style="width:22px">
                                       </td>
                                       <td valign="top" width="144" style="width:144px;">
                                          <table role="presentation" width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="border-spacing:0;border-collapse:collapse;width:100%">
                                             <tbody>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:28px;font-weight:700;line-height:34px;color:#3c4043;font-family:Google Sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:0px;padding-right:5px">{clicks}</td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:16px;font-weight:700;line-height:24px;color:#cc7400;font-family:Inter,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left;padding-bottom:15px">
                                                      {clicks_change_rate}
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td style="border-width:0;border-collapse:collapse;border-spacing:0;font-size:14px;font-weight:400;line-height:24px;color:#3c4043;font-family:Google Sans Text,Google sans,Roboto,Open Sans,arial,sans-serif;text-align:left">
                                                      Clicks
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
           {campaign_warnings}
         </tbody>
      </table>
   </td>
</tr>
